.Test1Run {
  text-align: center;
}

.Test1Run_Paper {
  display: inline-block;
  padding: 30px;
  margin: 20px;
  overflow: visible;
  min-width: 400px;
  min-height: 300px;
}

.Test1Run_Digit{
  font-size: 12em;
  margin: 0;

  /*  Simple transition */
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}