.Test1Setings {

}

.Test1Setings .settingsButton{
  margin: 8px;
}

.Test1Setings .numberField{
  width: 60px !important;
}
.Test1Setings .flexContainer{
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
}
