.Test1Settings {

}

.Test1Settings_Paper{
  padding: 8px;
  min-height: 120px;
  margin-bottom: 16px;
  max-width: 870px;
}

.Test1Settings_Paper h4{
  font-weight: bold;
  margin: 0;
}

.Test1Settings_Button{
  margin: 8px;
  width: 160px;
}

.Test1Settings .numberField{
  width: 60px !important;
}
.Test1Settings .flexContainer{
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
}
.Test1Settings_Actions{
  max-width: 870px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
