.Test2Run {
  text-align: center;
}

.Test2Run .wrapper {
  width: 335px;
  margin: 0 auto 10px;
  position: relative;
}

.Board{
  border: 10px solid #303f9f;
  border-radius: 5px;
  display: flex;
  justify-content:center;
  align-items:center;
}
.Delimeter{
  position: absolute;
  width: 335px;
  height: 10px;
  overflow: hidden;
  border-top: 10px solid #303f9f;
  top: 70px;
  margin: 0 auto;
}
